
<html>
    <head>

        <link rel="shortcut icon" href="#">
        <style>
            table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

body {
         font-family: 'Calibri';
        }

        .tableHeader {
        font-size: 2rem;
        padding:0px;
        }

         input[type="text"] {
         padding: 0.4rem;
         width: 100%;
         border: 0 0 1px 0 solid black;
         outline: none;
         font-family: 'Calibri';

         }

         textarea {
        font-family: 'Calibri';
         font-size: 1rem;
            width: 100%;
         }

          .panel {

         }

         .header, .details {
         position: relative;
         }

         .ip  {
             width: 100%;
            position: absolute;
            top: 0; left: 0;
            z-index: 1;
         }


         #updateBtn {
         position:fixed;
         padding:0.5rem;
         border-radius:50px;
         top:5rem;
         right:2rem;
         border: 0 0 1px solid black;

         outline:none;border-radius:5px;



         }


        </style>

    </head>

    <body>
     <form method="post"  >
         <table><th>
code
</th>

<th>
Brand
</th>

<th>
B.description
</th>

<th>
Quantity
</th>

<th>
code
</th>

<th>
description
</th>

<th>
Status
</th>

<th>
S.description
</th>

<th>
addedon
</th>

<tr>
<td>
 <div class="details">
     <div class="op" >
         <p>A0001</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="xoxaG" name="" size="" value="A0001" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>BR02</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="XZysU" name="" size="" value="BR02" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Brand 002</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="lQVQm" name="" size="" value="Brand 002" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>31</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="eIR8l" name="" size="" value="31" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>A0001</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="lHr2n" name="" size="" value="A0001" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Item 1009292</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="0u1kQ" name="" size="" value="Item 1009292" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>01</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="mIf8z" name="" size="" value="01" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Active</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="Wk8fZ" name="" size="" value="Active" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>04/01/2025</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="GMfk7" name="" size="" value="04/01/2025" />


     </div>
 </div>

</td>


</tr>
<tr>
<td>
 <div class="details">
     <div class="op" >
         <p>ABR02</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="cHIgJ" name="" size="" value="ABR02" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>BR02</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="efCsc" name="" size="" value="BR02" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Brand 002</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="74JZD" name="" size="" value="Brand 002" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>20</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="FfLwC" name="" size="" value="20" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>ABR02</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="WB0jp" name="" size="" value="ABR02" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Item 1038338</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="iwvoN" name="" size="" value="Item 1038338" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>01</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="0EZ22" name="" size="" value="01" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Active</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="ePuir" name="" size="" value="Active" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>02/01/2025</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="Zec9x" name="" size="" value="02/01/2025" />


     </div>
 </div>

</td>


</tr>
<tr>
<td>
 <div class="details">
     <div class="op" >
         <p>A0003</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="MvomM" name="" size="" value="A0003" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>BR04</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="iABjU" name="" size="" value="BR04" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Brand 004</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="TQP1Z" name="" size="" value="Brand 004" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>14</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="wqIBr" name="" size="" value="14" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>A0003</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="fOJs6" name="" size="" value="A0003" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Item 3498798</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="NpiWc" name="" size="" value="Item 3498798" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>01</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="9zfDR" name="" size="" value="01" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Active</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="kpit7" name="" size="" value="Active" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>04/01/2025</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="wMmgW" name="" size="" value="04/01/2025" />


     </div>
 </div>

</td>


</tr>
<tr>
<td>
 <div class="details">
     <div class="op" >
         <p>A0004</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="1wuot" name="" size="" value="A0004" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>BR04</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="ZQ7o4" name="" size="" value="BR04" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Brand 004</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="lEbbX" name="" size="" value="Brand 004" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>14</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="69myy" name="" size="" value="14" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>A0004</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="hFDnN" name="" size="" value="A0004" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Item 2872323</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="jweXr" name="" size="" value="Item 2872323" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>01</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="pQMAH" name="" size="" value="01" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Active</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="NY4gF" name="" size="" value="Active" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>02/01/2025</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="A72hX" name="" size="" value="02/01/2025" />


     </div>
 </div>

</td>


</tr>
<tr>
<td>
 <div class="details">
     <div class="op" >
         <p>A0005</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="70BHz" name="" size="" value="A0005" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>BR04</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="RStbq" name="" size="" value="BR04" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Brand 004</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="5Bf1z" name="" size="" value="Brand 004" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>14</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="QSWpm" name="" size="" value="14" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>A0005</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="Rmlwn" name="" size="" value="A0005" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Item 9283733</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="9cSBo" name="" size="" value="Item 9283733" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>01</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="5a0pR" name="" size="" value="01" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Active</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="Nhmsj" name="" size="" value="Active" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>04/01/2025</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="OqIP9" name="" size="" value="04/01/2025" />


     </div>
 </div>

</td>


</tr>
<tr>
<td>
 <div class="details">
     <div class="op" >
         <p>A0006</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="tMyC3" name="" size="" value="A0006" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>BR04</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="qsuDM" name="" size="" value="BR04" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Brand 004</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="HZ0ao" name="" size="" value="Brand 004" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>14</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="SuPc2" name="" size="" value="14" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>A0006</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="gTcpH" name="" size="" value="A0006" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Item 902938h</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="nVatr" name="" size="" value="Item 902938h" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>02</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="L9nc7" name="" size="" value="02" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Blocked</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="DgDgp" name="" size="" value="Blocked" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>04/01/2025</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="ezNhA" name="" size="" value="04/01/2025" />


     </div>
 </div>

</td>


</tr>
<tr>
<td>
 <div class="details">
     <div class="op" >
         <p>A0007</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="bilYH" name="" size="" value="A0007" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>BR03</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="YwpFs" name="" size="" value="BR03" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Brand 003</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="ZR0o2" name="" size="" value="Brand 003" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>14</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="DdYWg" name="" size="" value="14" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>A0007</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="dR0Lm" name="" size="" value="A0007" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Item 23bj289</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="dyuXl" name="" size="" value="Item 23bj289" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>03</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="qTnW9" name="" size="" value="03" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Pending</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="Ng6Jq" name="" size="" value="Pending" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>04/01/2025</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="iguU6" name="" size="" value="04/01/2025" />


     </div>
 </div>

</td>


</tr>
<tr>
<td>
 <div class="details">
     <div class="op" >
         <p>A0008</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="0YrUY" name="" size="" value="A0008" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>BR03</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="cCv1b" name="" size="" value="BR03" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Brand 003</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="XJhEA" name="" size="" value="Brand 003" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>14</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="bEH8m" name="" size="" value="14" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>A0008</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="9Tgjj" name="" size="" value="A0008" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Item 2392933</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="ufhZP" name="" size="" value="Item 2392933" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>01</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="IViBO" name="" size="" value="01" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Active</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="Kh4Di" name="" size="" value="Active" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>06/01/2025</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="ZtRTq" name="" size="" value="06/01/2025" />


     </div>
 </div>

</td>


</tr>
<tr>
<td>
 <div class="details">
     <div class="op" >
         <p>A0009</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="aweRE" name="" size="" value="A0009" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>BR03</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="Um5Oz" name="" size="" value="BR03" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Brand 003</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="l17t1" name="" size="" value="Brand 003" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>14</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="dEMZe" name="" size="" value="14" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>A0009</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="mfEAs" name="" size="" value="A0009" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Item 2382323</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="H5sCQ" name="" size="" value="Item 2382323" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>02</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="5kCHH" name="" size="" value="02" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Blocked</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="wbytb" name="" size="" value="Blocked" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>07/01/2025</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="egm6k" name="" size="" value="07/01/2025" />


     </div>
 </div>

</td>


</tr>
<tr>
<td>
 <div class="details">
     <div class="op" >
         <p>A0010</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="HtIP9" name="" size="" value="A0010" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>BR03</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="xknyw" name="" size="" value="BR03" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Brand 003</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="TqeXP" name="" size="" value="Brand 003" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>14</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="HbeZr" name="" size="" value="14" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>A0010</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="CjMxH" name="" size="" value="A0010" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Item 2398289</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="eIQ6v" name="" size="" value="Item 2398289" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>01</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="UwWXL" name="" size="" value="01" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Active</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="MdRQN" name="" size="" value="Active" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>04/01/2025</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="KWw0J" name="" size="" value="04/01/2025" />


     </div>
 </div>

</td>


</tr>
<tr>
<td>
 <div class="details">
     <div class="op" >
         <p>A0012</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="eBGm5" name="" size="" value="A0012" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>BR03</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="KYNgq" name="" size="" value="BR03" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Brand 003</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="Zvtl7" name="" size="" value="Brand 003" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>20</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="mR2VM" name="" size="" value="20" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>A0012</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="4Gg8e" name="" size="" value="A0012" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Item A0012V</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="Ec7Nh" name="" size="" value="Item A0012V" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>01</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="bQ4yD" name="" size="" value="01" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Active</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="el7U2" name="" size="" value="Active" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>04/01/2025</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="Jm0rp" name="" size="" value="04/01/2025" />


     </div>
 </div>

</td>


</tr>
<tr>
<td>
 <div class="details">
     <div class="op" >
         <p>A0013</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="dKskG" name="" size="" value="A0013" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>BR01</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="Lkgn9" name="" size="" value="BR01" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Brand 001</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="PNdAu" name="" size="" value="Brand 001" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>14</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="Jf6tn" name="" size="" value="14" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>A0013</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="eZ8ky" name="" size="" value="A0013" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Item A0013V</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="8Eaif" name="" size="" value="Item A0013V" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>01</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="YKky0" name="" size="" value="01" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Active</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="jnCUx" name="" size="" value="Active" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>04/01/2025</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="e3ss5" name="" size="" value="04/01/2025" />


     </div>
 </div>

</td>


</tr>
<tr>
<td>
 <div class="details">
     <div class="op" >
         <p>A0014</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="za90X" name="" size="" value="A0014" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>BR01</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="IZp93" name="" size="" value="BR01" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Brand 001</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="KdfEm" name="" size="" value="Brand 001" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>14</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="dq7Vg" name="" size="" value="14" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>A0014</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="qFSDg" name="" size="" value="A0014" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Item A0014V</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="wWhdH" name="" size="" value="Item A0014V" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>04</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="ePPdH" name="" size="" value="04" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Initiated</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="f8xem" name="" size="" value="Initiated" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>04/01/2025</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="B5hqa" name="" size="" value="04/01/2025" />


     </div>
 </div>

</td>


</tr>
<tr>
<td>
 <div class="details">
     <div class="op" >
         <p>A0015</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="9HJnp" name="" size="" value="A0015" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>BR01</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="YVGIt" name="" size="" value="BR01" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Brand 001</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="1X6y7" name="" size="" value="Brand 001" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>14</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="tQEJU" name="" size="" value="14" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>A0015</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="mhH4M" name="" size="" value="A0015" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Item A0015R</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="pYir7" name="" size="" value="Item A0015R" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>02</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="eg2b6" name="" size="" value="02" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Blocked</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="Dpni7" name="" size="" value="Blocked" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>04/01/2025</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="38u0s" name="" size="" value="04/01/2025" />


     </div>
 </div>

</td>


</tr>
<tr>
<td>
 <div class="details">
     <div class="op" >
         <p>A0016</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="x3fKT" name="" size="" value="A0016" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>BR01</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="HYp8H" name="" size="" value="BR01" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Brand 001</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="fmZOF" name="" size="" value="Brand 001" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>14</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="PzB8s" name="" size="" value="14" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>A0016</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="ksy61" name="" size="" value="A0016" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Item A0016R</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="VxMgJ" name="" size="" value="Item A0016R" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>02</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="lZbKo" name="" size="" value="02" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Blocked</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="OrZuk" name="" size="" value="Blocked" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>04/01/2025</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="aEc7Y" name="" size="" value="04/01/2025" />


     </div>
 </div>

</td>


</tr>
<tr>
<td>
 <div class="details">
     <div class="op" >
         <p>A0017</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="KWoXX" name="" size="" value="A0017" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>BR02</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="tDf9w" name="" size="" value="BR02" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Brand 002</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="g3DX0" name="" size="" value="Brand 002" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>14</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="47ji5" name="" size="" value="14" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>A0017</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="Zp8Fe" name="" size="" value="A0017" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Item A0017T</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="40vTf" name="" size="" value="Item A0017T" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>01</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="4M8j5" name="" size="" value="01" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Active</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="PvOh4" name="" size="" value="Active" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>04/01/2025</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="gF8a8" name="" size="" value="04/01/2025" />


     </div>
 </div>

</td>


</tr>
<tr>
<td>
 <div class="details">
     <div class="op" >
         <p>A0018</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="VuhkR" name="" size="" value="A0018" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>BR02</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="8aSWr" name="" size="" value="BR02" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Brand 002</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="lftDt" name="" size="" value="Brand 002" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>14</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="xOSWQ" name="" size="" value="14" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>A0018</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="sLp7N" name="" size="" value="A0018" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Item A001R8</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="6U2fI" name="" size="" value="Item A001R8" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>01</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="COPjy" name="" size="" value="01" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Active</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="MS8OI" name="" size="" value="Active" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>04/01/2025</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="9quME" name="" size="" value="04/01/2025" />


     </div>
 </div>

</td>


</tr>
<tr>
<td>
 <div class="details">
     <div class="op" >
         <p>A0019</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="tHLIv" name="" size="" value="A0019" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>BR03</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="d3IFk" name="" size="" value="BR03" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Brand 003</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="A7TYb" name="" size="" value="Brand 003" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>14</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="KBkJp" name="" size="" value="14" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>A0019</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="WdPB6" name="" size="" value="A0019" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Item A0019Y</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="HnZW3" name="" size="" value="Item A0019Y" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>01</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="6kdOP" name="" size="" value="01" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Active</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="Bjxle" name="" size="" value="Active" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>04/01/2025</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="cPClZ" name="" size="" value="04/01/2025" />


     </div>
 </div>

</td>


</tr>
<tr>
<td>
 <div class="details">
     <div class="op" >
         <p>AR020</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="YoeIv" name="" size="" value="AR020" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>BR04</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="ksoKP" name="" size="" value="BR04" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Brand 004</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="mF97r" name="" size="" value="Brand 004" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>14</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="A5EsR" name="" size="" value="14" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>AR020</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="ibfv3" name="" size="" value="AR020" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Item ABR020U</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="5xK5k" name="" size="" value="Item ABR020U" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>01</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="0bBZT" name="" size="" value="01" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Active</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="00ywm" name="" size="" value="Active" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>04/01/2025</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="WvTgt" name="" size="" value="04/01/2025" />


     </div>
 </div>

</td>


</tr>
<tr>
<td>
 <div class="details">
     <div class="op" >
         <p>A0021</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="C5dId" name="" size="" value="A0021" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>BR03</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="FGuy6" name="" size="" value="BR03" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Brand 003</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="jmR0X" name="" size="" value="Brand 003" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>56</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="61z6b" name="" size="" value="56" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>A0021</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="wYK2Z" name="" size="" value="A0021" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>An Item of code A0021</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="Zoar0" name="" size="" value="An Item of code A0021" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>01</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="fZHHS" name="" size="" value="01" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>Active</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="XZ9tw" name="" size="" value="Active" />


     </div>
 </div>

</td>

<td>
 <div class="details">
     <div class="op" >
         <p>04/03/2025</p>
     </div>

     <div class="ip" style="visibility:hidden;" >
         <input type="input" id="Cc8aa" name="" size="" value="04/03/2025" />


     </div>
 </div>

</td>


</tr>
</table>
     </form>

     <script>
            
var toggleMode = 1;
var rowNum = 0;

(function () {

    var panelComps = document.getElementsByClassName('#container');
    console.log(panelComps);

    var opGrptags = document.body.querySelectorAll('.op');
    console.log("before",opGrptags);
    for (var j = 0; j < opGrptags.length; j++) {
        opGrptags[j].style.cursor = 'pointer';
        opGrptags[j].addEventListener('click', editPart, false);
       /*  var inIp =  opGrptags[j].querySelector("input");
        inIp.style.cursor = 'cursor'; */
    }

    console.log("after",opGrptags);

    var updateBtn = document.querySelector('#updateBtn');
    updateBtn.addEventListener('click', updateNote);
})();




function editPart() {

    console.log('in editPart', this);
    var parentClassName = this.parentElement.className;
    var className = this.className;
    var invClassName;

    if (className === "op") {
        invClassName = className.replace("op", "ip");
    } else {
        invClassName = className.replace("ip", "op");
    }

    if (toggleMode === 1) {

        this.style.visibility = 'hidden';
        var xiptag = this.parentElement.querySelector('.'+invClassName);
        xiptag.style.visibility = 'visible';
        xiptag.addEventListener('focusout', editPart);
        xiptag.className = invClassName;

    } else {
        this.style.visibility = 'hidden';
        console.log(this.parentElement.parentElement);
        var xopdivtag = this.parentElement.querySelector('.'+invClassName);
        xopdivtag.style.visibility = 'visible';
        var xoptag = xopdivtag.querySelector('p');

        var iptag = this.querySelector(parentClassName === 'header' ? 'input' : 'textarea');
        //xoptag.innerHTML = iptag.value; 
        xoptag.innerHTML = parentClassName === 'header' ? iptag.value : iptag.innerHTML; 
    }

    toggleMode *= -1; 

}



function updateNote() {
    console.log("inside PostContent fn");
    var postTo = '/App1/simplenote';
    var x = document.querySelector('#container');
    console.log(x);
    var xhr = new XMLHttpRequest();
    xhr.open("POST", postTo, true);
    //xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(x.outerHTML);
}
        </script>
    </body>
</html>


