
<html>
    <head>

        <link rel="shortcut icon" href="#">
        <style>
            body {
 font-family: 'Calibri';
}

.tableHeader {
font-size: 2rem;
padding:0px;
}

 input[type="text"] {
 padding: 0.4rem;
 width: 100%;
 border: 0 0 1px 0 solid black;
 outline: none;
 font-family: 'Calibri';

 }

 textarea {
font-family: 'Calibri';
 font-size: 1rem;
    width: 100%;
 }

  .panel {

 }

 .header, .details {
 position: relative;
 }

 .ip  {
     width: 100%;
    position: absolute;
    top: 0; left: 0;
    z-index: 1;
 }


 #updateBtn {
 position:fixed;
 padding:0.5rem;
 border-radius:50px;
 top:5rem;
 right:2rem;
 border: 0 0 1px solid black;

 outline:none;border-radius:5px;



 }



        </style>

    </head>

    <body>
     <form method="post"  >
        <div id="container"  style="border:1px solid black; border-radius:5px;
     font-family:calibri;padding:1rem 1rem;" >

<div class="header" style="font-size:18px;font-weight:bold;"  >

        <div class="op" >
                <p>QTEr2ddkLv</p>
        </div>

    <div class="ip" style="visibility:hidden;" >
         <input type="text" value="QTEr2ddkLv"
           style="width:100%;overflow:scroll;" />
    </div>

</div>


 <div class="details" >
        <div class="op" >
            <p>qjmVQkuwcU</p>
        </div>

         <div class="ip" style="visibility:hidden;" >
           <textarea style="width:100%;overflow:scroll;" rows="5" columns="100" >
            qjmVQkuwcU
            </textarea>
        </div>




        <div class="toolbarStyle"><button type="submit" formmethod="post" name="Update" id="7AlMp" listener="updateGrid" styleClass="defaultAbsoluteStyle" style="position:fixed;padding:10px;right:2rem;border-radius:10rem;" ><button id="updateBtn" type="button" >Update</button>
</div></div>
 </div>

</div>
<div class="tableHeader">
<p><p>
</div>

<table>
<div style="padding:0.5rem;" ><tr>

<div  class="panel" style="border:1px solid black; border-radius:5px;
font-family:calibri;padding:1rem 1rem;"  >

    <div  class="header" style="font-size:18px;font-weight:bold;"  >

            <div class="op" >
                    <p>hN3IUp30qU</p>
            </div>

            <div class="ip" style="visibility:hidden;" >
                    <input type="text" value="hN3IUp30qU" style="width:100%;overflow:scroll;" />
            </div>

    </div>


    <div  style="border:1px solid black; border-width:1px 0 0 0;"  />

        <div  class="details" >
            <div class="op" >
                <p>ssxjGmbQqI</p>
            </div>

            <div class="ip" style="visibility:hidden;" >
                <textarea style="width:100%;overflow:scroll;" rows="5" columns="100" >ssxjGmbQqI"</textarea>
             </div>
        </div>

    </div>
    <div class="rowNum" style="color:transparent;z-index:0;padding:0;margin:0;font-size:0px;" >1</div>



</div>


</tr>
</div>
<div style="padding:0.2rem;" />
<div style="padding:0.5rem;" ><tr>

<div  class="panel" style="border:1px solid black; border-radius:5px;
font-family:calibri;padding:1rem 1rem;"  >

    <div  class="header" style="font-size:18px;font-weight:bold;"  >

            <div class="op" >
                    <p>hN3IUp30qU</p>
            </div>

            <div class="ip" style="visibility:hidden;" >
                    <input type="text" value="hN3IUp30qU" style="width:100%;overflow:scroll;" />
            </div>

    </div>


    <div  style="border:1px solid black; border-width:1px 0 0 0;"  />

        <div  class="details" >
            <div class="op" >
                <p>ssxjGmbQqI</p>
            </div>

            <div class="ip" style="visibility:hidden;" >
                <textarea style="width:100%;overflow:scroll;" rows="5" columns="100" >ssxjGmbQqI"</textarea>
             </div>
        </div>

    </div>
    <div class="rowNum" style="color:transparent;z-index:0;padding:0;margin:0;font-size:0px;" >2</div>



</div>


</tr>
</div>
<div style="padding:0.2rem;" />
<div style="padding:0.5rem;" ><tr>

<div  class="panel" style="border:1px solid black; border-radius:5px;
font-family:calibri;padding:1rem 1rem;"  >

    <div  class="header" style="font-size:18px;font-weight:bold;"  >

            <div class="op" >
                    <p>GEh65j5HYZ</p>
            </div>

            <div class="ip" style="visibility:hidden;" >
                    <input type="text" value="GEh65j5HYZ" style="width:100%;overflow:scroll;" />
            </div>

    </div>


    <div  style="border:1px solid black; border-width:1px 0 0 0;"  />

        <div  class="details" >
            <div class="op" >
                <p>8ohavNlk2K</p>
            </div>

            <div class="ip" style="visibility:hidden;" >
                <textarea style="width:100%;overflow:scroll;" rows="5" columns="100" >8ohavNlk2K"</textarea>
             </div>
        </div>

    </div>
    <div class="rowNum" style="color:transparent;z-index:0;padding:0;margin:0;font-size:0px;" >3</div>



</div>


</tr>
</div>
<div style="padding:0.2rem;" />
<div style="padding:0.5rem;" ><tr>

<div  class="panel" style="border:1px solid black; border-radius:5px;
font-family:calibri;padding:1rem 1rem;"  >

    <div  class="header" style="font-size:18px;font-weight:bold;"  >

            <div class="op" >
                    <p>uIWMAjBD0w</p>
            </div>

            <div class="ip" style="visibility:hidden;" >
                    <input type="text" value="uIWMAjBD0w" style="width:100%;overflow:scroll;" />
            </div>

    </div>


    <div  style="border:1px solid black; border-width:1px 0 0 0;"  />

        <div  class="details" >
            <div class="op" >
                <p>x1pzDq55ji</p>
            </div>

            <div class="ip" style="visibility:hidden;" >
                <textarea style="width:100%;overflow:scroll;" rows="5" columns="100" >x1pzDq55ji"</textarea>
             </div>
        </div>

    </div>
    <div class="rowNum" style="color:transparent;z-index:0;padding:0;margin:0;font-size:0px;" >4</div>



</div>


</tr>
</div>
<div style="padding:0.2rem;" />
<div style="padding:0.5rem;" ><tr>

<div  class="panel" style="border:1px solid black; border-radius:5px;
font-family:calibri;padding:1rem 1rem;"  >

    <div  class="header" style="font-size:18px;font-weight:bold;"  >

            <div class="op" >
                    <p>oB7uUGoN9m</p>
            </div>

            <div class="ip" style="visibility:hidden;" >
                    <input type="text" value="oB7uUGoN9m" style="width:100%;overflow:scroll;" />
            </div>

    </div>


    <div  style="border:1px solid black; border-width:1px 0 0 0;"  />

        <div  class="details" >
            <div class="op" >
                <p>N3FSJvKqwb</p>
            </div>

            <div class="ip" style="visibility:hidden;" >
                <textarea style="width:100%;overflow:scroll;" rows="5" columns="100" >N3FSJvKqwb"</textarea>
             </div>
        </div>

    </div>
    <div class="rowNum" style="color:transparent;z-index:0;padding:0;margin:0;font-size:0px;" >5</div>



</div>


</tr>
</div>
<div style="padding:0.2rem;" />
</table>

     </form>

     <script>
            
var toggleMode = 1;
var rowNum = 0;

(function () {

    var panelComps = document.getElementsByClassName('#container');
    console.log(panelComps);

    var opGrptags = document.body.querySelectorAll('.op');
    console.log("before",opGrptags);
    for (var j = 0; j < opGrptags.length; j++) {
        opGrptags[j].style.cursor = 'pointer';
        opGrptags[j].addEventListener('click', editPart, false);
       /*  var inIp =  opGrptags[j].querySelector("input");
        inIp.style.cursor = 'cursor'; */
    }

    console.log("after",opGrptags);

    var updateBtn = document.querySelector('#updateBtn');
    updateBtn.addEventListener('click', updateNote);
})();




function editPart() {

    console.log('in editPart', this);
    var parentClassName = this.parentElement.className;
    var className = this.className;
    var invClassName;

    if (className === "op") {
        invClassName = className.replace("op", "ip");
    } else {
        invClassName = className.replace("ip", "op");
    }

    if (toggleMode === 1) {

        this.style.visibility = 'hidden';
        var xiptag = this.parentElement.querySelector('.'+invClassName);
        xiptag.style.visibility = 'visible';
        xiptag.addEventListener('focusout', editPart);
        xiptag.className = invClassName;

    } else {
        this.style.visibility = 'hidden';
        console.log(this.parentElement.parentElement);
        var xopdivtag = this.parentElement.querySelector('.'+invClassName);
        xopdivtag.style.visibility = 'visible';
        var xoptag = xopdivtag.querySelector('p');

        var iptag = this.querySelector(parentClassName === 'header' ? 'input' : 'textarea');
        //xoptag.innerHTML = iptag.value; 
        xoptag.innerHTML = parentClassName === 'header' ? iptag.value : iptag.innerHTML; 
    }

    toggleMode *= -1; 

}



function updateNote() {
    console.log("inside PostContent fn");
    var postTo = '/App1/simplenote';
    var x = document.querySelector('#container');
    console.log(x);
    var xhr = new XMLHttpRequest();
    xhr.open("POST", postTo, true);
    //xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(x.outerHTML);
}
        </script>
    </body>
</html>


